.rulespanel {
  position: absolute;
  width: calc(100% - 400px);
  left: 200px;
  bottom: 0;
  z-index: 1;
}
.rulespanel .panel {
  padding: 20px 0;
  border-top: 1px solid #e2e0e0;
  background: #F7F9FB;
}
.rulespanel .panel .rules-box {
  height: 150px;
  padding: 0 20px;
  overflow-y: auto;
}
.rules-btn {
  margin-left: 30px;
}
.rules-group {
  border-bottom: 1px dashed #e2e0e0;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.rules-group:first-of-type {
  margin-top: 10px;
}
.rules-group:last-of-type {
  border: none;
}
.rules-group:hover:before {
  display: block;
  content: '';
  border: 1px solid #e2e0e0;
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 2px);
  left: -5px;
  top: -1px;
}
.rules-group:hover .rules-close {
  display: block;
}
.rules-close {
  position: absolute;
  top: -6px;
  right: 20px;
  font-size: 10px;
  color: #aaa;
  padding: 0 5px;
  background: #F7F9FB;
  z-index: 1;
  display: none;
}
.rules-close:hover {
  color: #40a9ff;
}
.rules-group .rules-type,
.rules-group .rules-param,
.rules-group .rules-content {
  width: 32%;
}
.rules-group .rules-param {
  margin: 0 2%;
}